{{#extend "layout"}}
  {{#content "Head"}}It's index Head{{/content}}

  {{#content "Header"}}It's index Header{{/content}}

  {{#content "Content"}}
    It's index Content append
    config.param2: {{config.param2}}

    <div class="post">
      <h1>By {{author.firstName}} {{author.lastName}}</h1>
      <div class="body">{{body}}</div>

      <h1>Comments</h1>

      {{#each comments}}
        <h2>By {{author.firstName}} {{author.lastName}}</h2>
        <div class="body">{{body}}</div>
      {{/each}}

      {{> chunks/part}}
    </div>
  {{/content}}

  {{#content "Footer"}}It's index Footer{{/content}}
{{/extend}}

